.shots {
  display: grid;
  grid-gap: 0.5em;
  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
  list-style: none;
  margin: 0;
  padding: 0;
}

.shot__figure {
  margin: 0;
}

.shot__image {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}
